.Board {
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  width: 50%;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-title h3 {
  font-size: 18px;

  color: #333333;
  font-weight: bold;
}

#board-search .search-window .search-wrap {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}

.board-table {
  font-size: 13px;

  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a:hover {
  text-decoration: underline;
}

.board-table .th-num {
  width: 70px;
  text-align: center;
}

.board-table .th-date {
  width: 100px;
}

.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  text-align: center;
}

.board-table tbody th {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}
