.Board {
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  width: 50%;
}

.page-title {
  margin-top: 20px;
}
.page-title h3 {
  font-size: 13px;

  color: #333333;
  font-weight: bold;
  margin-right: 10px;
}

#board-search .search-window .search-wrap {
  position: relative;
  /*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
}

.board-table {
  font-size: 13px;
  width: 100%;

  thead {
    tr {
      .th-title {
        text-align: left;
        border-bottom: 1px solid #ccc;
      }
      .th-date {
        border-bottom: 1px solid#ccc;
      }
    }
  }

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a:hover {
  text-decoration: underline;
}

.board-table .th-date {
  width: 5px;
}

.board-table tbody th {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}
.Board {
  .notice {
    .page-title {
      .container {
        h3 {
          font-weight: bold;
          font-size: 20px;
          a {
            float: right;
          }
        }
      }
    }
  }
}
