.homeContainer {
  gap: 20px;
  padding: 50px 80px 50px 80px;
}
.chart {
  display: flex;
  padding: 0px 80px 50px 80px;

  gap: 20px;
}
.Imageboard1 {
  display: flex;
  padding: 0px 80px 50px 80px;
}
.listContainer {
  display: flex;
  padding: 0px 80px 50px 80px;
  gap: 50px;
  margin-bottom: 50px;
}
