.DetailPage {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 40px;
  padding: 50px;
  .DetailPageTitle {
    font-size: 30px;
    font-weight: bold;
  }
}
.DetailPagelist {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  .DetailPagelistdiv {
    display: flex;
    width: 100%;
    div:nth-child(1) {
      width: 20%;
    }
    div:nth-child(2) {
      width: 20%;
    }
    div:nth-child(3) {
      text-align: end;
      width: 100%;
    }
  }
}

.DetailPage_List_cjah {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.DetailPageButton {
  width: 100%;
  text-align: end;
  margin-bottom: 20px;
  margin-top: 20px;

  .DetailPageButton1 {
    font-weight: bold;
    margin-right: 30px;
  }
  .DetailPageButton2 {
    font-weight: bold;
  }
}

.DetailPage_BoootList {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;

  li {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;

    .DetailPageIcon {
      float: right;
      margin-right: 10px;
    }
  }
}
.DetailPage_Booot {
  .DetailPage_BoootMaindiv {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
  }
  div:nth-child(1) {
    width: 300px;
  }
  div:nth-child(2) {
    width: 300px;
  }
  div:nth-child(3) {
    width: 300px;
  }
  div:nth-child(4) {
    width: 300px;
  }
}
.sdlakjshkdahfkd {
  text-align: end;
  flex: 2;
}
.DetailPage-div {
  width: 100%;
  display: flex;
  margin-top: 20px;
  .DetailPage-mimee {
    border-bottom: 1px solid #d4d4d8;
    height: 50px;
    flex: 9;
  }
  .DetailPage_button1 {
    flex: 1;
    background-color: #d4d4d8;
    color: black;
    font-weight: bold;
  }
}
