.Login {
  width: 100%;
}

.text-lg {
  text-align: center;
}

p {
  .Login_input1 {
    margin-top: 10px;
    margin-bottom: 60px;

    border-bottom: 1px solid #999999;
  }
  .Login_input {
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #999999;
  }

  .loginId {
    width: 100%;
    padding: 9px 12px;
    text-align: center;
  }
  .loginPw {
    text-align: center;
    padding: 9px 12px;
    width: 100%;
  }

  .loginBtn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 3px;
    border-style: none;
  }
}
.modal {
  .modal-box {
    padding: 40px;
  }
}

.socialBox {
  margin-bottom: 30px;
  .kakao {
    background-color: #feec34;
    border-color: #feec34;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3px;
    .kakaoLogo {
      width: 24px;
      height: 25px;
    }
    .kakaoText {
      width: 300px;
      font-size: 15px;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
    }
  }
}

.socialBox {
  margin-bottom: 20px;
  .Google {
    background-color: white;
    height: 40px;
    display: flex;
    border: 1px solid #dcdcdc;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-top: 10px;

    .GoogleLogo {
      width: 24px;
      height: 25px;
    }
    .GoogleText {
      width: 300px;
      font-size: 15px;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
    }
  }

  .kakao {
    background-color: #feec34;
    border-color: #feec34;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3px;

    .kakaoLogo {
      width: 24px;
      height: 25px;
    }
    .kakaoText {
      width: 300px;
      font-size: 15px;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
    }
  }

  .facebook {
    background-color: #21538a;
    border-color: #21538a;
    height: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #fff;
    border-radius: 3px;
    > .facebookText {
      padding-top: 12px;
      width: 310px;
      color: #fff;
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
    }
    .facebookLogo {
      padding-top: 7px;
      width: 24px;
      align-items: center;
      margin-left: 7px;
      height: 30px;
    }
  }
}

.autoLogin {
  text-align: center;
}
.loginLine {
  text-align: center;
}
.loginLine_end {
  font-size: 25px;
  font-weight: bolde;
}
