.footer_maindav {
  width: 100%;
  bottom: 0;
  margin: 0;
  left: 0;
  background-color: white;
  position: fixed;
  height: 60px;
  width: 100%;
  line-height: 60px;
  color: rgb(160, 160, 160);
  border-top: 1px solid #dee5e7;
  background-color: white;

  .footer_div11 {
    margin-left: 0%;
    width: 100%;
    text-align: center;
    align-items: center;

    div {
      a {
        font-size: 15px;
        font-weight: 500;
        padding: 20px;
      }
    }
  }
}
